.layoutContainer {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}
.navContainer {
    flex-direction: column;
    height:100vh;
    width:"103px";
    justify-content:space-between;
    background-color: #373B53;
}

.navAvatar {
    padding: 15px;
}

.navAvatarImage {
    border-radius: 40px;
}

.pacmanContainer {
    background-color: #9277FF;
    padding: 30px;
}

.iconMoonContainer{
    padding: 40px;
  }

.contentContainer {
    width: 700px;
    height: 600px;
  }